[% # This is a TT comment. -%]
 
[%- # Provide a title -%]
[% META title = 'Ariba Host List' -%]
 
[% # Note That the '-' at the beginning or end of TT code  -%]
[% # "chomps" the whitespace/newline at that end of the    -%]
[% # output (use View Source in browser to see the effect) -%]
 
[% # Some basic HTML with a loop to display hosts -%]
Got [% num_entries %] hosts
<table>
<tr><th>Host</th><th>Datacenter</th><th>ID</th><th>Last Updated</th><th>Record Created</th></tr>

[% # Display each host in a table row %]
[% FOREACH host IN hosts -%]
  <tr>
    <td>[% host.hostname %]</td>
    <td>[% host.datacenter %]</td>
    <td>[% host.id %]</td>
    <td>[% host.last_updated %]</td>
    <td>[% host.record_created %]</td>
    <td></td>
  </tr>
[% END -%]
</table>
